<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a href="{{or site.url (or siteRootUrl siteRootPath)}}">Neo4j Migrations Docs</a>
      </div>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Project</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://github.com/michael-simons/neo4j-migrations">Repository</a>
            <a class="navbar-item" href="https://github.com/michael-simons/neo4j-migrations/issues">Issue Tracker</a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="https://github.com/michael-simons/neo4j-migrations/blob/main/CONTRIBUTING.adoc">Contributing</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Community</a>
          <div class="navbar-dropdown is-right">
            <a class="navbar-item" href="https://github.com/michael-simons/neo4j-migrations/blob/main/CODE_OF_CONDUCT.md">Code of Conduct</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
